src/integrations/prisma/contract.json linguist-generated
src/integrations/prisma/contract.d.ts linguist-generated
src/integrations/prisma/ops.json linguist-generated
src/integrations/prisma/migration.json linguist-generated
migrations/snapshots/**/contract.json linguist-generated
migrations/snapshots/**/contract.d.ts linguist-generated
